* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html { 
    height: 100%;
}


body {
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("bg-image.png") no-repeat;
    height: 100%;
}
#mapCanvas
{
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}
.mainButtons{
          display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.mainButtons button{
    background-color: yellowgreen;
    border: 2px solid black;
}
.main{
  font-size: 50px;
}

.container{
    padding-bottom: 10px;
}
 .container h1{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  color: white;
  background-color: lightsteelblue;


}
#mapCanvas
{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}
.mainButtons{
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
    padding-bottom: 50px; 
}
.main{
  color: white;
  font-size: 50px;
}

.container{
    margin-top: 10px;
    
}

/*media queries*/
@media only screen and (max-width: 768px) {
    html
    {
        height: 87%;
    }
    .mainButtons{
        width: 100%;
}

}

@media only screen and (max-width: 450px) {
    html
    {
        height: 85%;
    }
    .mainButtons{
        width:40%;
    }
  
}
@media only screen and (max-width: 320px) {
    html
    {
        height: 80%;
    }
    .mainButtons{
        width: 30%;
}

}
