html { 
    height: 100%;
}


body {
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
/*    background-image: url(bg-image.png);*/
    height: 100%;
    margin: 0; 
    padding: 0;
     background: url("bg-image.png") no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
#map_canvas {
    height: 80% ;   
}
#mapCanvas
{
/*    margin-top: 20px;*/
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}
.mainButtons{
          display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.main{
     color: white;
  font-size: 50px;
}

.container{
    height: 5%;
    
}


/*footer styles */

footer {
    background-image: url(transparent.jpg);
 padding: 25px 0;
    color: #bbc;
    font-size: 0.75em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    height: 5px;
}

